
<p>
  
<%= t '.hello' %> <%= @user.name.capitalize %>, <br><br> 

<%= t '.p1' %> <br><br>

<strong> <%= t '.p2' %> </strong>  <br><br>

<%= t '.p3' %> <br><br>

<%= t '.p4' %> <br><br>

<%= t '.p5' %> <br><br>

<%= t '.p6' %> <br><br>

<%= t '.p7' %> <br><br>

<%= t '.p8' %> <br><br>

<%= link_to 'www.respira.io', "http://www.respira.io" %>

<%#= link_to "http://respira.io/", class: "navbar-wagon-brand" do %>
     <%#= cl_image_tag("respira/green.png", :client_hints=>true, :transformation=>[{:width=>50, :height=>50, :dpr=>"auto"}]) %>
<%# end %>

</p>


