     <div id="demo"> </div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">

          <div class="separator-2"></div>
          <div class="row">
            <div class="col-md-6">
              <!-- accordion start -->
              <!-- ================ -->
              <div class="panel-group collapse-style-1" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                        <i class="fa fa-question-circle-o pr-10"></i><%= t '.What_is_Respira?' %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                    <%= t '.info_00' %>  
                     <br><br>
                    <%= t '.info_01' %>  

                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                        <i class="fa fa-road pr-10"></i> <%= t '.background' %> 
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= t '.info_1' %> 
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                        <i class="fa fa-rocket pr-10"></i> <%= t '.innovation' %>  
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= t '.info_2' %> 
                       <br><br>
                      <%= t '.info_3' %> 
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                        <i class="fa fa-area-chart pr-10"></i> <%= t '.real-time' %> 
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <%= t '.info_4' %> 
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
                        <i class="fa fa-child pr-10"></i><%= t '.wearability' %> 

                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <%= t '.info_5' %> 
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed">
                        <i class="fa fa-bullseye pr-10"></i> <%= t '.our_goal' %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse in ">
                    <div class="panel-body">
                        <%= t '.info_6' %> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion end -->
            </div>
            <div class="col-md-6 space-bottom">

              <div class="embed-responsive embed-responsive-16by9">
                <%= cl_image_tag("respira/R-4.png", :class => "", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>
              </div>
            </div>
          </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12 col-md-push-2 col-md-4">
              <div class="style-2 mb-20 shadow bordered light-gray-bg text-center">
                <div class="overlay-container">

                <%= cl_image_tag("respira/shirt.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1380, :width=>2000, :y=>0, :x=>400, :crop=>"crop"}]) %> 
                  
                </div>
              
              </div>
            </div>
            <div class="col-xs-12 col-md-push-2 col-md-4">
              <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                <div class="overlay-container">
                  <%= cl_image_tag("respira/Natural.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1400, :width=>2000, :y=>-20, :x=>500, :crop=>"crop"}]) %>
                </div>
                
              </div>
            </div>
          </div>
          

          <!-- section start -->
          <!-- ================ -->
          <section class="section dark-bg clearfix">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="call-to-action text-center">
                    <div class="row">
                      <div class="col-sm-12">
                        <h1 class="title"> <%= t '.cta' %> <p style='font-style: italic;'>Gary Player</p> </h1>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- section end -->


        



