<div id="features"> </div>




<section class="pv-30 padding-bottom-clear clearfix">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"> <strong> <%= t '.features_moto' %> </strong></h2>
                <div class="separator"></div>
                <p class="large text-center"><%= t '.features_subtitle' %> </p>
              </div>
            </div>
          </div>
          
          <div class="container">

              <div class="row">
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">

                    <%= cl_image_tag("respira/wearable.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> <%= t '.feature_hidden_1' %> </em>  </p>
                      </div>
                    </div>
                    <div class="body">
                      <h3><%= t '.wearable' %> </h3>
                      <div class="separator"></div>
                      <p>
                      <%= t '.feature_1' %> </p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <%= cl_image_tag("respira/time_graph.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> <%= t '.feature_hidden_2' %>  </em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3><%= t '.real-time_feedback' %> </h3>
                      <div class="separator"></div>
                      <p>
                        <%= t '.feature_2' %> </p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <%= cl_image_tag("respira/build.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> <%= t '.feature_hidden_3' %> </em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3> <%= t '.build-habits' %> </h3>
                      <div class="separator"></div>
                      <p> <%= t '.feature_3' %> </p>

                    </div>
                  </div>
                </div>
              </div>
              <br>

</section>






