 <div id="timeline"></div>




 <!-- main-container start -->
 <!-- ================ -->
 <section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->

        <div class="separator-2"></div>
        <!-- page-title end -->

        <!-- timeline grid start -->
        <!-- ================ -->
        <div class="timeline clearfix">

          <div class="timeline-date-label clearfix">2016</div>

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered">

                <!-- Indicators -->


                <!-- Wrapper for slides -->
                <%= cl_image_tag("respira/idea1.png", :client_hints=>true, :transformation=>[{:width=>800, :height=>400, :dpr=>"auto", :crop=>"fill"}])%>



              <header>
                <h2>Respira ‘idea’ is born</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>
                    <!--    <span class="day">12</span> -->
                    <span class="month">June 2016</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p>Marcos and Jordi come up with the idea of Respira, thanks to <a href="http://www.mcguireprogramme.com/en">The McGuire Program</a> </p>
              </div>

            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered">

              <%= cl_image_tag("respira/team.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

              <header>
                <h2>Team created</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>
                    <span class="month">August 2016</span>
                  </span>

                </div>
              </header>
              <div class="blogpost-content">
                <p>The team behind Respira is formed by the addition of Dimitri, Rowan and James. We started working in the prototype.</p>
              </div>
              <footer class="clearfix">

              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
              <div class="embed-responsive embed-responsive-16by9">

                <!-- <iframe src="https://player.vimeo.com/video/191140085" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
               <!--  <p><a href="https://vimeo.com/191140085"></a>  <a href="https://vimeo.com/user46527374"></a><a href="https://vimeo.com"></a>.</p> -->



               <%= cl_image_tag("respira/AdobeStock_75400453.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :crop=>"fill"}])%>
               <a class="overlay-link" href="http://stammertrust.co.uk/"><i class="fa fa-link"></i></a>
              </div>

              <header>
                <h2>First Prototype completed</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>

                    <span class="month">November 2016</span>
                  </span>

                </div>
              </header>
              <div class="blogpost-content">
                <p>This demo shows the Respira concept by having completed a working prototype. </p>
              </div>
              <footer class="clearfix">

              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->

            <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">

              <div class="overlay-container">
               <%= cl_image_tag("respira/Screen_Shot_2017-01-12_at_15.51.18.png", :client_hints=>true, :transformation=>[{:width=>800, :height=>200, :dpr=>"auto", :crop=>"fill"}])%>
               <a class="overlay-link" href="http://stammertrust.co.uk/"><i class="fa fa-link"></i></a>

             </div>

             <header>
              <h2>Terence Barry Grant Award</h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month">December 2016</span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p><a href="http://stammertrust.co.uk/">Stammer Trust</a> awarded a small grant to support Respira, which will help the Treatment and Research into Stammering.</p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->

        <div class="timeline-date-label clearfix">2017</div>

        <!-- timeline grid item start -->
        <div class="timeline-item">
          <!-- blogpost start -->
          <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
            <div class="overlay-container">
              <%= cl_image_tag("respira/patent.png", :client_hints=>true, :transformation=>[{:width=>600, :height=>200, :dpr=>"auto", :crop=>"fill"}])%>
              <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
            </div>
            <header>
              <h2>Patent Filed</h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month">January 2017</span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p>Respira patent is filed, as it is the first product of its kind</p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->

        <!-- timeline grid item start -->
        <div class="timeline-item pull-right">
          <!-- blogpost start -->
          <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">

            <%= cl_image_tag("respira/crowdfunding-platforms.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

            <header>
              <h2>Crowdfunding Campaign (<strong>coming up!!</strong>) </h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month">March 2017</span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p>Respira is planning to run a crowdfunding camping to allow some team members to work full time in developing the final product to be distributed.</p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->
      </div>
      <!-- timeline grid end -->

    </div>
    <!-- main end -->

  </div>
</div>
</section>
<!-- main-container end -->
