 <div id="timeline"></div>


 <!-- main-container start -->
 <!-- ================ -->
 <section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ --

        <!-- timeline grid start -->
        <!-- ================ -->
        <div class="timeline clearfix">

          <div class="timeline-date-label clearfix">2016</div>

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered">

                <!-- Indicators -->


                <!-- Wrapper for slides -->
                <%= cl_image_tag("respira/idea1.png", :client_hints=>true, :transformation=>[{:width=>800, :height=>400, :dpr=>"auto", :crop=>"fill"}])%>



              <header>
                <h2> <%= t '.time_1_h2' %></h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>
                    <!--    <span class="day">12</span> -->
                    <span class="month"> 6/2016</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p> <%= t '.time_1_p' %> </p>
              </div>

            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered">

              <%= cl_image_tag("respira/team.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

              <header>
                <h2> <%= t '.time_2_h2' %> </h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>
                    <span class="month"> 8/2016</span>
                  </span>

                </div>
              </header>
              <div class="blogpost-content">
                <p> <%= t '.time_2_p' %> </p>
              </div>
              <footer class="clearfix">

              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
              <div class="embed-responsive embed-responsive-16by9">

                <!-- <iframe src="https://player.vimeo.com/video/191140085" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
               <!--  <p><a href="https://vimeo.com/191140085"></a>  <a href="https://vimeo.com/user46527374"></a><a href="https://vimeo.com"></a>.</p> -->



               <%= cl_image_tag("respira/belt_only.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :crop=>"fill"}])%>
               <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
              </div>

              <header>
                <h2> <%= t '.time_3_h2' %> </h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="icon-calendar"></i>

                    <span class="month"> 10/2016</span>
                  </span>

                </div>
              </header>
              <div class="blogpost-content">
                <p> <%= t '.time_3_p' %> </p>
              </div>
              <footer class="clearfix">

              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->

            <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">

              <div class="overlay-container">
               <%= cl_image_tag("respira/Screen_Shot_2017-01-12_at_15.51.18.png", :client_hints=>true, :transformation=>[{:width=>800, :height=>200, :dpr=>"auto", :crop=>"fill"}])%>
               <a class="overlay-link" href="http://stammertrust.co.uk/wp-content/uploads/2017/04/Newsletter-Spring-2017-Iss-110_eVersion.pdf"><i class="fa fa-link"></i></a>

             </div>

             <header>
              <h2> <%= t '.time_4_h2' %> </h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month"> 12/2016</span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p><a href="http://stammertrust.co.uk/wp-content/uploads/2017/04/Newsletter-Spring-2017-Iss-110_eVersion.pdf">Stammer Trust</a> <%= t '.time_4_p' %> </p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->

        <div class="timeline-date-label clearfix">2017</div>

        <!-- timeline grid item start -->
        <div class="timeline-item">
          <!-- blogpost start -->
          <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
            <div class="overlay-container">
              <%= cl_image_tag("respira/patent1.png", :client_hints=>true, :transformation=>[{:width=>600, :height=>200, :dpr=>"auto", :crop=>"fill"}])%>
              <a class="overlay-link" href="https://www.ipo.gov.uk/p-journal/p-pj/p-pj?lastResult=40&perPage=10&startYear=2017&startMonth=March&startDay=08th+-+6668&endYear=2017&endMonth=March&endDay=08th+-+6668&filter=&sort=Applicant&status=undefined"><i class="fa fa-link"></i></a>
            </div>
            <header>
              <h2> <%= t '.time_5_h2' %> </h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month"> 1/2017</span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p><%= t '.time_5_p' %> </p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->

        <!-- timeline grid item start -->
        <div class="timeline-item pull-right">
          <!-- blogpost start -->
          <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">

            <%= cl_image_tag("respira/crowdfunding-platforms.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

            <header>
              <h2> <%= t '.time_6_h2' %> </h2>
              <div class="post-info">
                <span class="post-date">
                  <i class="icon-calendar"></i>

                  <span class="month"> 2017 </span>
                </span>

              </div>
            </header>
            <div class="blogpost-content">
              <p> <%= t '.time_6_p' %> </p>
            </div>
            <footer class="clearfix">

            </footer>
          </article>
          <!-- blogpost end -->
        </div>
        <!-- timeline grid item end -->
      </div>
      <!-- timeline grid end -->

    </div>
    <!-- main end -->

  </div>
</div>
</section>
<!-- main-container end -->
