<div id="what"> </div>


<!-- section -->
			<!-- ================ -->
			<section class="pv-30">
				<div class="container">
					<div class="row">
						<div class="text-centre col-xs-12 col-md-push-2 col-md-8">
							<br>
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs style-1" role="tablist">
									<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="icon-question pr-10"></i><%= t '.what' %></a></li>
									<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%= t '.why' %></a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home">
                    <div class="embed-responsive embed-responsive-16by9">
                      <% if I18n.locale == :ea  %>
                      <iframe width="750" height="425" src="https://www.youtube.com/embed/Dj4nn4nZnc8" frameborder="0" allowfullscreen></iframe>
                      <% else  %>
                      <iframe width="750" height="425" src="https://www.youtube.com/embed/UodA9XdKQkE" frameborder="0" allowfullscreen></iframe>
                      <% end %>
                    </div>
									</div>
									<div role="tabpanel" class="tab-pane fade smooth-scroll" id="messages">
                    <p> <strong> <%= t '.why_1' %> </strong> 
                    <p>
                    <%= t '.why_2' %>
                    <br>
                    <br>
                    <%= t '.why_3' %> <a href="#footer"><%= t '.here' %></a>. <%= t '.why_4' %> 
                    <br>
                    <br>
                    <%= t '.why_5' %> <a href="https://www.youtube.com/watch?v=pq1qqdxZWbc&list=PLJj-2-ZfLCt8_d1_vyt_g6mWAmKnoVwyt"><%= t '.here' %></a> <%= t '.why_6' %>   
                    </p>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</section>
			<!-- section end -->

<!-- section -->
<!-- ================ -->



</section>



